*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000vh;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
}
/* tit */
.tit {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  font-family: "NotoB";
  font-size: 80px;
  line-height: 1;
  color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0.6;
}
.tit span {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 30px;
  font-family: "NotoM";
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
}

.effect {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}

.effect::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: "";
}

.effect.bg01 {
  background-image: url("../../images/1.jpg");
}
.effect.bg02 {
  background-image: url("../../images/2.jpg");
}
.effect.bg03 {
  background-image: url("../../images/3.jpg");
}

.effect.bg01.on .img_box,
.effect.bg02.on .img_box,
.effect.bg03.on .img_box {
  opacity: 1 !important;
}
